
@{
    ViewBag.Title = "Log in";
}
<section hero id="section-paper-input">

    <style>
        #section-paper-input .vertical-section {
            text-align: left;
        }
    </style>

    <h3>Üye Girişi</h3>

    <div class="vertical center-justified layout">
       
        <div class="vertical-section">
            <paper-input id="inputForValidation2" label="Kullanıcı Adı" required error-message="Kullanıcı Adı Hatalı!"></paper-input>

            <paper-input id="inputForValidation" required label="Şifre" error-message="Şifre Hatalı!" type="password"></paper-input>
            <br>
            <a title="Validate inputs" href="#" onclick="document.getElementById('inputForValidation').validate(); document.getElementById('inputForValidation2').validate();return false;">
                <paper-button class="primary" raised>Giriş</paper-button>
            </a>
        </div>

    </div>

</section>