<section id="footer-section">
    <footer id="footer">
        <div class="polymer-themes-logo-container">
            <div class="polymer-icon-container"><i class="material-icons">polymer</i></div>
            <h4>Polymer Themes</h4>
        </div>
        <div id="followus-container-main" style="padding: 0px 0px 30px 0px;">
            <div class="followus-links" data-page="PolymerThemes" data-clickthrough="1" data-opennew="1"></div>
            <script defer src="https://secure.followus.com/widget.js"></script>
        </div>
        <div class="footer-links">
            <a href="/contact/">Contact Us</a>
            <span style="opacity:0.5;">|</span>
            <a href="/help/license/">Terms of Use</a>
            <span style="opacity:0.5;">|</span>
            <a href="/help/">Help</a>
        </div>
        <div class="small">
            &copy; 2015 Polymer Themes
        </div>
    </footer>
</section>