<paper-header-panel drawer>
    <paper-toolbar>
        <div><a href="/">Polymer Themes</a></div>
    </paper-toolbar>


    <div id="theme-selector-menu">
        <a class="" href="/candy/" style="display: block">
            <paper-item>
                <paper-item-body two-line>
                    <div>Candy</div>
                </paper-item-body>
            </paper-item>
        </a><a class="" href="/citric-flames/" style="display: block">
            <paper-item>
                <paper-item-body two-line>
                    <div>Citric Flames</div>
                </paper-item-body>
            </paper-item>
        </a><a class="" href="/classical/" style="display: block">
            <paper-item>
                <paper-item-body two-line>
                    <div>Classical</div>
                </paper-item-body>
            </paper-item>
        </a><a class="" href="/dark-side/" style="display: block">
            <paper-item>
                <paper-item-body two-line>
                    <div>Dark Side</div>
                </paper-item-body>
            </paper-item>
        </a><a class="" href="/denim/" style="display: block">
            <paper-item>
                <paper-item-body two-line>
                    <div>Denim</div>
                </paper-item-body>
            </paper-item>
        </a><a class="" href="/everest/" style="display: block">
            <paper-item>
                <paper-item-body two-line>
                    <div>Everest</div>
                </paper-item-body>
            </paper-item>
        </a><a class="" href="/gelati/" style="display: block">
            <paper-item>
                <paper-item-body two-line>
                    <div>Gelati</div>
                </paper-item-body>
            </paper-item>
        </a><a class="" href="/golden-goose/" style="display: block">
            <paper-item>
                <paper-item-body two-line>
                    <div>Golden Goose</div>
                </paper-item-body>
            </paper-item>
        </a><a class="" href="/ice/" style="display: block">
            <paper-item>
                <paper-item-body two-line>
                    <div>Ice</div>
                </paper-item-body>
            </paper-item>
        </a><a class="" href="/la-resistance/" style="display: block">
            <paper-item>
                <paper-item-body two-line>
                    <div>La Resistance</div>
                </paper-item-body>
            </paper-item>
        </a><a class="" href="/melon/" style="display: block">
            <paper-item>
                <paper-item-body two-line>
                    <div>Melon</div>
                </paper-item-body>
            </paper-item>
        </a><a class="" href="/seven-seas/" style="display: block">
            <paper-item>
                <paper-item-body two-line>
                    <div>Seven Seas</div>
                </paper-item-body>
            </paper-item>
        </a><a class="" href="/sky/" style="display: block">
            <paper-item>
                <paper-item-body two-line>
                    <div>Sky</div>
                </paper-item-body>
            </paper-item>
        </a><a class="selected" href="/technology/" style="display: block">
            <paper-item selected>
                <paper-item-body two-line>
                    <div>Technology</div>
                </paper-item-body>
            </paper-item>
        </a><a class="" href="/the-times/" style="display: block">
            <paper-item>
                <paper-item-body two-line>
                    <div>The Times</div>
                </paper-item-body>
            </paper-item>
        </a>
    </div>
</paper-header-panel>