<paper-toolbar>
    <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
    <span class="flex">&nbsp;</span>
    <div id="top-nav-right-links"><a href="http://polymertemplates.com/" target="_blank" title="Premium Polymer Website Templates">Premium Templates</a><a href="https://madewithpolymer.com/" target="_blank" title="Apps and websites made with Polymer">Made With <span class="hidden-mobile">Polymer</span><span class="hidden-desktop"><i class="material-icons">polymer</i></span></a></div>
</paper-toolbar>