@{
    ViewBag.Title = "Home Page";
}

<core-animated-pages id="pages" selected="{{route}}" valueattr="hash"
                     transitions="slide-from-right"
                     on-tap="{{cyclePages}}">
    <template repeat="{{page, i in pages}}">
        <section hash="{{page.hash}}" layout vertical center-center>
            <div>{{page.name}}</div>
        </section>
    </template>
</core-animated-pages>