<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <title>Single page app using Polymer</title>
    <script src="/bower_components/webcomponentsjs/webcomponents.min.js"></script>
    <!-- vulcanized version of imported elements --
         see "elements.html" for unvulcanized list of imports. -->
    <link rel="import" href="/assets/elements/vulcanized.html">
    <link rel="stylesheet" href="/assets/css/main.css" shim-shadowdom>
</head>
<body unresolved fullbleed>
    

    <template is="auto-binding" id="t">

        <!-- Route controller. -->
        <flatiron-director route="{{route}}" autohash></flatiron-director>

        <!-- Keyboard nav controller. -->
        <core-a11y-keys id="keys" target="{{parentElement}}"
                        keys="up down left right space space+shift"
                        on-keys-pressed="{{keyHandler}}"></core-a11y-keys>

        <core-scaffold id="scaffold">

            @Html.Partial("_NavPartial")
            
            @Html.Partial("_ToolbarPartial")

            <div layout horizontal center-center fit>
                @RenderBody()
            </div>

        </core-scaffold>

    </template>

    <script src="/assets/js/app.js"></script>
</body>
</html>